<div>
<label>Product Id:</label>
<input type ="number" [(ngModel)]="product.id"><br>
<span *ngIf = "validation.idError">enter product id</span><br><br>
<label>Product Name:</label>
<input type ="text" [(ngModel)]="product.name"><br>
<span *ngIf = "validation.nameError">enter product name</span><br><br>
<label>Product Price:</label>
<input type ="number" [(ngModel)]="product.price"><br>
<span *ngIf = "validation.priceError">enter product price</span><br><br>
<label>Product Description:</label>
<input type ="text" [(ngModel)]="product.description"><br>
<span *ngIf = "validation.descriptionError">enter product description</span><br>
<button (click)="submit()">Add Product</button><br><br>
<label>enter product by name</label>
<input type = "text" [(ngModel)]="name" (input)="search()"><br>
<button (click) = "add()">Add to cart</button><br>
</div>

<div>
    <ul *ngFor = "let shopping of shoppingList;let shoppingId=index">
        <li>{{shopping.id}}</li>
        <li>{{shopping.name}}</li>
        <li>{{shopping.price}}</li>
        <li>{{shopping.description}}</li>
        <li><button (click)="delete(shoppingId)">delete</button></li>
    </ul>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>product Id</th>
                <th>product Name</th>
                <th>product price</th>
                <th>product Decription</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let table of tableList">
                <td>{{table.id}}</td>
                <td>{{table.name}}</td>
                 <td>{{table.price}}</td> 
                <td>{{table.description}}</td> 
            </tr>
        </tbody>
    </table>
</div>